  <div id="filter-wrapper" style="display: none;">
    <div class="hidden" id="lookup-fields">
      {% for field in query_filter.get_form() %}{{ field(class='lookup-input') }}{% endfor %}
    </div>
    <form method="get" action="." class="modeladmin-filters">
      {% if ordering %}<input type="hidden" name="ordering" value="{{ ordering }}" />{% endif %}
      
      <p class="submit">
        <button class="btn primary small" type="submit">Apply</button>
        <a class="btn small" href=".">Reset</a>
      </p>
    </form>
  </div>
