{% extends "admin/models/base.html" %}

{% from 'macros/filters.html' import admin_filter %}

{% block extra_script %}
  {{ super() }}
  <script type="text/javascript">
    $(function() {
      var admin_filter = new Admin.ModelAdminFilter();
      admin_filter.init();
      
      {% for lookup, value in raw_filters %}
      admin_filter.add_filter_request('{{ lookup }}', {{ value|tojson|safe }});
      {% endfor %}
    });
  </script>
{% endblock %}

{% block tab_index_class %}active{% endblock %}

{% block extra_tabs %}
    <li class="dropdown" data-dropdown="dropdown" style="float:right">
      <a class="dropdown-toggle" href="#">With selected...</a>
      <ul class="dropdown-menu">
        <li><a href="#" onclick="Admin.index_submit('export');">Export</a></li>
        <li><a href="#" onclick="Admin.index_submit('delete');">Delete</a></li>
      </ul>
    </li>
    <li class="dropdown" data-dropdown="dropdown" style="float:right">
      <a class="dropdown-toggle" href="#">Add filter...</a>
      <ul class="dropdown-menu" id="filters">
        {% for field, choices in lookups %}
          <li><a class="field-filter" id="filter-{{ field.name }}" href="#">{{ get_verbose_name(model_admin.model, field.name) }}</a>
            <select class="lookup-select hidden">
              <option value="">---------------</option>
              {% for lookup, label in choices %}
                <option value="{{ lookup }}">{{ label }}</option>
              {% endfor %}
            </select>
          </li>
        {% endfor %}
      </ul>
    </li>
{% endblock %}

{% block content %}
  <div id="filter-wrapper">
    <div class="hidden" id="lookup-fields">
      {% for field in form %}{{ field(class='lookup-input') }}{% endfor %}
    </div>
    <form method="get" action="." class="modeladmin-filters">
      {% if ordering %}<input type="hidden" name="ordering" value="{{ ordering }}" />{% endif %}
      
      <p class="submit">
        <button class="btn primary small" type="submit">Apply</button>
        <a class="btn small" href=".">Reset</a>
        <span class="help-inline">Use the wildcard "*" to partially match text, e.g. <em>*phrase*</em> or <em>starts with*</em></span>
      </p>
    </form>
  </div>
  
  <form method="post" action="." id="model-list"><input type="hidden" name="action" value="" />
  <table class="zebra-striped">
    <thead>
      <tr>
        <th class="check first shrink"><input type="checkbox" name="xxx" onchange="javascript:$('td input[type=checkbox]').attr('checked', this.checked);" /></th>
        {% if model_admin.columns %}
          {% for column in model_admin.columns %}
            {% if ordering == column %}
              {% set sort_by = '-'+column %}
            {% else %}
              {% set sort_by = column %}
            {% endif %}
            <th>{% if model_admin.column_is_sortable(column) %}<a href="./?{{ update_querystring(request.query_string, 'ordering', sort_by)|safe() }}">{% endif %}{{ get_verbose_name(model_admin.model, column) }}{% if model_admin.column_is_sortable(column) %}</a>{% endif %}</th>
          {% endfor %}
        {% else %}
          <th>{{ model_admin.get_display_name() }}</th>
        {% endif %}
        <th class="last shrink"></th>
      </tr>
    </thead>
    <tbody>
    {% for object in query.get_list() %}
      <tr>
        <td class="check"><input type="checkbox" name="id" value="{{ object.get_pk() }}" /></td>
        {% if model_admin.columns %}
          {% for column in model_admin.columns %}
            {% if loop.index == 1 %}
              <td><a href="{{ url_for(model_admin.get_url_name('edit'), pk=object.get_pk()) }}">{{ get_model_field(object, column) }}</a></td>
            {% else %}
              <td>{{ get_model_field(object, column) }}</td>
            {% endif %}
          {% endfor %}
        {% else %}
          <td><a href="{{ url_for(model_admin.get_url_name('edit'), pk=object.get_pk()) }}">{{ object }}</a></td>
        {% endif %}
        <td class="last links">
          <ul class="inline">
            <li><a href="{{ url_for(model_admin.get_url_name('edit'), pk=object.get_pk()) }}">Edit</a></li>
            <li><a href="{{ url_for(model_admin.get_url_name('delete'), id=object.get_pk()) }}">Delete</a></li>
          </ul>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </form>
  {% include "admin/includes/pagination.html" %}
{% endblock %}
