{% extends "admin/models/base.html" %}

{% block extra_script %}
  {{ super() }}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      {% if model_admin.foreign_key_lookups %}
        {% for field_name, search in model_admin.foreign_key_lookups.items() %}
          new Admin.ModelAdminRawIDField('{{ field_name }}').init({% if instance and instance._pk and form.data[field_name] %}'{{ form.data[field_name]|string }}'{% endif %});
        {% endfor %}
      {% endif %}
    });
  </script>
{% endblock %}
