{% extends "admin/models/base.html" %}

{% block breadcrumbs %}
 {{ super() }}
 <li><span class="divider">/</span> <a href=".">Delete</a></li>
{% endblock %}

{% block extra_tabs %}
   <li class="active"><a href=".">Delete</a></li>
{% endblock %}

{% block content %}
  <form action="." class="form-horizontal" method="post">
    <fieldset>
      <legend>Select {{ model_admin.get_display_name() }}s to delete</legend>
      <div class="control-group">
        <label class="control-label">Selected models</label>
        <div class="controls">
          {% for object in query %}
            <label class="checkbox">
              <input type="checkbox" name="id" value="{{ object.get_pk() }}" checked="checked"> <span>{{ object }}</span>
            </label>
          {% endfor %}
        </div>
      </div>
      
      <div class="form-actions">
        <button class="btn btn-danger" type="submit">Confirm Delete</button>
        <a class="btn" href="{{ url_for(model_admin.get_url_name('index')) }}">Cancel</a>
      </div>
    </fieldset>
  </form>
{% endblock %}
