{% extends "admin/models/base_forms.html" %}

{% block breadcrumbs %}
 {{ super() }}
 <li class="breadcrumb-item"><a href=".">Editing</a></li>
{% endblock %}

{% block extra_tabs %}
  <li class="nav-item"><a class="nav-link active" href=".">Editing</a></li>
{% endblock %}

{% block content %}
  {% include "admin/includes/form_raw_id.html" %}
  {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show">
      <p class="mb-0">There were errors with your form submission</p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}
  <form method="post" action="." class="edit" enctype="multipart/form-data">
    <fieldset>
      {% if csrf_token %}{# Support for flask-seasurf #}<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">{% endif %}
      <legend>Edit {{ admin.fix_underscores(model_admin.get_display_name()) }}</legend>
      {% for field in form %}
        {{ admin_field(field) }}
      {% endfor %}
      {% block extra_form %}{% endblock %}
      <div class="form-actions d-flex gap-2">
        <button class="btn btn-primary" name="save" type="submit">Save</button>
        <button class="btn btn-secondary" name="save_add" type="submit">Save and add new</button>
        <button class="btn btn-secondary" name="save_edit" type="submit">Save and edit</button>
        <a class="btn btn-outline-secondary" href="{{ url_for(model_admin.get_url_name('index')) }}">Cancel</a>
        <a class="btn btn-danger ms-auto" href="{{ url_for(model_admin.get_url_name('delete'), id=instance._pk) }}">Delete</a>
      </div>
    </fieldset>
  </form>
{% endblock %}
