{% macro list_fields(node, prefix) %}
  {% for field in node.fields %}
    <li><a
        class="dropdown-item field-filter"
        data-field="{{ field.name|apply_prefix(prefix, 'fv_') }}"
        data-select="{{ field.name|apply_prefix(prefix, 'fo_') }}"
        id="filter-{{ field.name|apply_prefix(prefix, 'fo_') }}"
        href="#">{% if prefix %}{{ ' / '.join(prefix) }} / {% endif %}{{ field.name }}</a>
    </li>
  {% endfor %}
  {% for child_prefix, child in node.children.items() %}
    {{ list_fields(child, prefix + [child_prefix]) }}
  {% endfor %}
{% endmacro %}
    <li class="nav-item dropdown{{ ' ' + filter_dropdown_class if filter_dropdown_class else '' }}">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button">Add filter...</a>
      <ul class="dropdown-menu dropdown-menu-end" id="filters">
        {{ list_fields(field_tree, []) }}
      </ul>
    </li>
