{% if model_admin.foreign_key_lookups %}
  {% for field_name, search in model_admin.foreign_key_lookups.items() %}
  <div class="modal fade" role="dialog" aria-hidden="true" id="modal-{{ field_name }}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Select a {{ field_name }}</h4>
        </div>
        <div class="modal-body">
          <input class="fk-lookup-input" data-ajax-url="{{ url_for(model_admin.get_url_name('ajax_list')) }}?field={{ field_name }}" type="text" />
          <ul class="result-list">
          </ul>
        </div>
        <div class="modal-footer">
          <a class="btn btn-link disabled previous" href="#">Previous</a>
          <a class="btn btn-link disabled next" href="#">Next</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
{% endif %}
